<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techtimeapp.techtime">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.view.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.view.view.PayPeriodActivity"
            android:label="@string/category_payPeriod"
            android:parentActivityName=".view.view.view.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.view.view.MainActivity"/>
        </activity>
        <activity
            android:name=".view.view.view.ArchiveActivity"
            android:label="@string/category_archive"
            android:parentActivityName=".view.view.view.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.view.view.MainActivity"/>
        </activity>
        <activity
            android:name=".view.view.logic.LaborRatesActivity"
            android:label="@string/menu_labor_rates"
            android:parentActivityName=".view.view.view.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.view.view.MainActivity"/>
        </activity>
        <activity
            android:name=".view.view.view.EditPayPeriodActivity"
            android:label="@string/menu_edit_pay_period"
            android:parentActivityName=".view.view.view.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.view.view.MainActivity"/>
        </activity>
        <activity
            android:name=".view.view.view.OrderByActivity"
            android:label="@string/menu_order_by"
            android:parentActivityName=".view.view.view.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.view.view.MainActivity"/>
        </activity>
        <activity
            android:name=".view.view.logic.AddEditRepairOrderActivity"
            android:label="@string/add_repair_order"
            android:parentActivityName=".view.view.view.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.view.view.MainActivity"/>
        </activity>
        <activity
            android:name=".view.view.view.RepairOrderActivity"
            android:label="@string/repair_number"
            android:parentActivityName=".view.view.view.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.view.view.MainActivity"/>
        </activity>

    </application>

</manifest>